body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative; /* Set the body as the relative positioning container */

}

.app {
  text-align: center;
  background-image: url("./bgg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  flex-grow: 1;
  padding-bottom: 60px;
}
.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(120, 24, 112);
  padding: 16px 26px 6px 26px;
}

.navbar1 div ul li {
  display: inline-block;
  margin-right: 3rem;
  font-size: 18px;
}

.navbar1 li a {
  text-decoration: none;
  padding: 1px 6px 4px 6px;
  border: 0px solid goldenrod;
  border-radius: 4px;
  color: white;
}

.navbar1 li a:hover {
  color: aliceblue;
  background-image: linear-gradient(
    to bottom right,
    rgb(106, 128, 252),
    rgb(181, 18, 167)
  );
  padding: 6px;
  border: 1px solid rgb(77, 77, 151);
}

table,
th,
td {
  border: 2px solid;
  padding: 2rem 3rem;
  border-width: thin !important;
}

th {
  background-color: rgb(120, 24, 112);
  color: white;
}

td {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-details-link {
  text-decoration: none;
  font-weight: 500;
}

.table-details-link:hover {
  color: rgb(75, 98, 187);
  text-decoration: underline;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.add-location-btn {
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
}

.add-location-btn:hover {
  background-color: rgb(120, 24, 112);
  color: white;
  border: 1px solid black;
}

.delete-icon {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid black;
  padding: 6px 11px;
  border-radius: 5px;
  background-color: rgb(120, 24, 112);
  color: white;
}

.delete-icon:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}
.home-container {
  padding: 1rem;
}

/*Login page*/

.form-control {
  border: 1px solid rgb(40, 235, 56);
}

.email-div,
.password-div {
  justify-content: center;
}

.forgot-link {
  color: rgb(88, 88, 238);
}
.forgot-link:hover {
  color: rgb(235, 134, 101);
}
.forgot-password {
  padding: 1px 2px 20px 2px;
  margin-top: 1.5rem;
}
