body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  text-align: center;
}

.navbar1-ul li {
  display: inline-block;
  padding: 15px;
  border: 10px;
}

.navbar1-ul li a:hover {
  color: rgb(0, 0, 0);
  /* transform: scale(0.6); */
  background-image: linear-gradient(rgb(225, 252, 106), rgb(235, 134, 101));
}

.navbar1-ul {
  background-color: rgb(120, 24, 112);
  text-align: left;
}

.navbar1-ul li a {
  text-decoration: none;
  padding: 1px 6px 4px 6px;
  border: 0px solid goldenrod;
  border-radius: 6px;
  color: white;
}

.logout-btn {
  text-align: right;
}

.right-navbar {
  text-align: right;
}
table,
th,
td,
tr {
  border: 2px solid;
  padding: 1rem;
}
td {
  text-align: center;
}

.home-container {
  padding: 1rem;
}

.login-div {
  margin-top: 1.5rem;
}

span.psw {
  /* margin: 2rem 2rem 0rem 10rem; */
  padding-top: 16px;
  margin-top: 2rem;
}

.input-fields {
  border: 3px solid #f1f1f1;
  display: inline-block;
  padding-inline: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    rgb(204, 61, 61) 10%,
    rgb(194, 194, 40) 90%
  );
}
.input-fields:hover {
  background-image: linear-gradient(
    to right,
    rgb(23, 118, 153),
    rgb(23, 185, 118)
  );
}

.form-control {
  margin: 1.5rem 6px 0rem 6px;
  border: 1px solid rgb(40, 235, 56);
  box-sizing: border-box;
}

.form-control-signup {
  border-radius: 8px;
  border: 1px solid greenyellow;
  padding: 0.4rem 1.5rem;
  margin: 1rem 0 0 0;
}

.login-button {
  margin: 2rem 0 2rem 0;
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
  border: 0.11px solid rgb(85, 80, 80);
}

.login-button:hover {
  background-color: rgb(244, 255, 127);
  cursor: pointer;
}

.forgot-link {
  color: rgb(0, 255, 162);
}
.forgot-link:hover {
  color: rgb(235, 134, 101);
}
.forgot-password {
  padding: 1px 2px 2px 2px;
  margin-top: 1.5rem;
  /* color: greenyellow; */
}
